@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Colors
$color-brand: #5865f2;
$color-brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
$color-greyple: #99aab5;
$color-dark-not-black: #2c2f33;
$color-focus-border: #00b0f4;
$color-status-green: #43b581;
$color-text-link: #00b0f4;
$color-off-white: #f6f6f6;
$color-white: #fff;
$color-not-quite-black: #23272a;
$color-not-quite-black-rgb: 35, 39, 42;
$color-black: #000;
$color-ekko-red: #de2761;

// Fonts - But these seem to cost money!
$cheap-primary: 'Poppins'; // My free alternative, until I find the ones below
$font-primary: 'Whitney';
$font-display: 'Ginto Normal';
$font-headling: 'Ginto Nord';
$font-monospace: 'Menlo';
$font-glitch: 'ArchivoBlack';
$font-cursive: 'Reenie Beanie';

// Etc
$page-max-width: 1260px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Utility Classes

// Container to ensure contents stay centered and user-friendly widths
.container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

// Our default Flex container; centers on both axes
.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Default Button style
.btn {
  text-align: center;
  font-family: inherit;
  font-size: 1.25rem;
  display: inline-block;
  color: $color-white;
  background-color: $color-not-quite-black;
  padding: 20px 40px;
  margin: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s ease-in;

  // Discord buttons obtain a shadow when hovered
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  // Discord buttons obtain an aqua border when tabbed to
  &:focus-visible {
    outline: 2px solid aqua;
  }
}

// Global Styling
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.4;
}

//  Keep image within its container
img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Navigation */
#navbar {
  background-color: $color-brand;
  color: $color-white;

  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: $color-white;

    a {
      color: $color-black;
    }
  }

  a {
    color: $color-white;
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 1.5rem;

    a {
      &:hover {
        border-bottom: 1px solid $color-white;
      }
    }
  }
}

/* Hero Section */
#hero-section {
  padding: 5rem 0;
  position: relative;
  color: $color-white;
  background-color: $color-brand;

  .hero-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;

    .hero-background {
      width: 100%;
      height: 100%;
      background-image: url('images/hero-chilling.svg');
      background-size: contain;
      background-repeat: no-repeat;
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
    }

    .hero-container {
      grid-column: 1 / span 4;
    }

    .buttons-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .hero-grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;

      h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 2rem;
      }

      .hero-container {
        grid-column: 3 / span 8;
      }
    }
  }
}

// Invite Section
#invite-section {
  padding: 5rem 0;

  .invite-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

    img {
      grid-column: 1 / span 4;
    }

    .content {
      grid-column: 1 / span 4;

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .invite-grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 1 / span 4;
      }

      .content {
        grid-column: 5 / span 4;
      }
    }
  }

  @media (min-width: 1024px) {
    .invite-grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 1 / span 7;
      }

      .content {
        grid-column: 9 / span 4;
      }
    }
  }
}

// Hanging Section
#hanging-section {
  padding: 5rem 0;
  background-color: $color-off-white;

  .hanging-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

    img {
      grid-column: 1 / span 4;
    }

    .content {
      grid-column: 1 / span 4;

      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .hanging-grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 5 / span 4;
      }

      .content {
        grid-column: 1 / span 4;
      }
    }
  }

  @media (min-width: 1024px) {
    .hanging-grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 6 / span 7;
      }

      .content {
        grid-column: 1 / span 4;
      }
    }
  }
}

// Community Section
#community-section {
  padding: 5rem 0;

  .community-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

    img {
      grid-column: 1 / span 4;
    }

    .content {
      grid-column: 1 / span 4;

      h4 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .community-grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 1 / span 4;
      }

      .content {
        grid-column: 5 / span 4;
      }
    }
  }

  @media (min-width: 1024px) {
    .community-grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;

      img {
        grid-column: 1 / span 7;
      }

      .content {
        grid-column: 9 / span 4;
      }
    }
  }
}

// Tech Section
#tech-section {
  padding: 5rem 0;
  background-color: $color-off-white;
  text-align: center;

  h5 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
}

footer {
  background-color: $color-dark-not-black;
  color: $color-white;

  a {
    color: $color-white;

    &:hover {
      border-bottom: 1px solid $color-white;
    }
  }

  h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $color-brand;
  }

  .language {
    padding: 1rem 0;
  }

  .social-links {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-link-heading {
    color: $color-brand;
    font-size: 1.1rem;
  }

  @media (min-width: 1024px) {
    .footer-links {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
