@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

.flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #23272a;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn:focus-visible {
  outline: 2px solid aqua;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

#invite-section {
  padding: 5rem 0;
}

#invite-section .invite-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#invite-section .invite-grid img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#invite-section .invite-grid .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#invite-section .invite-grid .content h2 {
  font-size: 3rem;
}

#invite-section .invite-grid .content p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #invite-section .invite-grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #invite-section .invite-grid img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  #invite-section .invite-grid .content {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}

@media (min-width: 1024px) {
  #invite-section .invite-grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #invite-section .invite-grid img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
  }
  #invite-section .invite-grid .content {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
  }
}

#hanging-section {
  padding: 5rem 0;
  background-color: #f6f6f6;
}

#hanging-section .hanging-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hanging-section .hanging-grid img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#hanging-section .hanging-grid .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#hanging-section .hanging-grid .content h3 {
  font-size: 3rem;
}

#hanging-section .hanging-grid .content p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #hanging-section .hanging-grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #hanging-section .hanging-grid img {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
  #hanging-section .hanging-grid .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

@media (min-width: 1024px) {
  #hanging-section .hanging-grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #hanging-section .hanging-grid img {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / span 7;
  }
  #hanging-section .hanging-grid .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

#community-section {
  padding: 5rem 0;
}

#community-section .community-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#community-section .community-grid img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#community-section .community-grid .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#community-section .community-grid .content h4 {
  font-size: 3rem;
}

#community-section .community-grid .content p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #community-section .community-grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #community-section .community-grid img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  #community-section .community-grid .content {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}

@media (min-width: 1024px) {
  #community-section .community-grid {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #community-section .community-grid img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
  }
  #community-section .community-grid .content {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
  }
}

#tech-section {
  padding: 5rem 0;
  background-color: #f6f6f6;
  text-align: center;
}

#tech-section h5 {
  font-size: 3rem;
}

#tech-section p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */